<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Haku Lookup: Search Results</title>
    <link rel = "stylesheet" th:href = "@{/css/search.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300&family=News+Cycle&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class = "search-style">
        <div class = "main-content">
            <header>
                <a href = "/"><h1>HAKU</h1></a>
                <form action = "search" method = "GET">
                    <input  placeholder="SYMBOL" type = "text" name = "equityName"/>
                    <input type = "submit"/>
                </form>
            </header>
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Open ($)</th>
                    <th>Close ($)</th>
                    <th>Net Change ($)</th>
                    <th>Net Change (%)</th>
                </tr>
                <tbody>
                    <tr th:each = "date : ${allDays.keySet()}">
                        <td th:text = "${date}"></td>
                        <td th:text = "${allDays.get(date).getOpen()}"></td>
                        <td th:text = "${allDays.get(date).getClose()}"></td>
                        <td th:text = "${changesInDollar.get(date)}"></td>
                        <td th:text = "${changes.get(date)}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer>
            <div class = "social-style">
                <h5>Follow me.</h5>
                <i class="fa fa-github-square" style="font-size:48px"></i>
                <i class="fa fa-linkedin-square" style="font-size:48px"></i>
                <i class="fa fa-chrome" style="font-size:48px"></i>
            </div>
            <div class = "footer-ending">
                <h3>HAKU &bemptyv; CODED BY DANIEL TRAN. </h3>
                <h5>Haku used for non-commercial purposes.</h5>
            </div>
        </footer>
    </div>

</body>
</html>